<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	
	<!-- It configuration properties of database and mapping file. -->
	<hibernate-configuration>
	
	<!-- It holds database information on which we establish the connection -->
	<session-factory>
	<property name="hbm2ddl.auto">update</property>
	<property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
	<property name="connection.driver">com.mysql.cj.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/hibernatedemo</property>
	<property name="connection.username">root</property>
	<property name="connection.password"></property>
	
	<!-- To show all sql query fired by Hibernate Framework-->
	<property name="show_sql"></property>
	<property name="format_sql"></property>
	<mapping resource="employee.hbm.xml"/>	
	</session-factory>
	
	</hibernate-configuration>